$white-70: rgba(255, 255, 255, 0.70);

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white-70;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border: solid;
    border-radius: 0.3rem;
}