$white-70: rgba(255, 255, 255, 0.70);

.container{
    display: flex;
    flex-direction: column;
    background-color: $white-70;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border: solid;
    border-radius: 0.3rem;

    h1{
        text-align: center;
    }
}

.cadastro{
    margin-left: 5%;

    .labels{
        margin-left: 200px;
    }
}

.textareaobs{    
    width: 96%;
    height: 100px;
}

.buttoncadastro{
    margin-top: 1rem;    
}